# Created by https://www.toptal.com/developers/gitignore/api/data
# Edit at https://www.toptal.com/developers/gitignore?templates=data

db/
bank_law_RAG_data/

### Data ###
*.csv
*.dat
*.efx
*.gbr
*.key
*.pps
*.ppt
*.pptx
*.sdf
*.tax2010
*.vcf
*.xml

# End of https://www.toptal.com/developers/gitignore/api/data